.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f5f2; /* Light earthy background color */
  font-family: Arial, sans-serif;
  min-height: 100vh;
}
